@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ResultSetViewModel>

@{
    foreach (var outerlist in Model.GroupBy(m => m.gender))
    {
<div class="just-padding">

    <div class="list-group list-group-root well">
        <span class="text-uppercase font-weight-bold">@outerlist.Key</span>
        @foreach (var item in outerlist)
        {
            <a class="list-group-item list-group-item-action">
                    <span class="glyphicon glyphicon-chevron-right font-weight-normal"> @item.name </span>
            </a>
        }
    </div>
</div>

    }
}



